@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  background-color: var(--very-light-gray);
  font-family: 'Poppins', sans-serif;
}

:root {
    /* Primary   */
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
    /* Neutral */
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 80%);
  --very-light-gray: hsl(0, 0%, 97%);
}

.Main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header {
  margin-top: 40px ;
  max-width: 320px;
  height: 200px;
  color: var(--very-dark-blue);
  /* border: solid 1px red; */
}

.Header__title {
  padding: 0;
  font-weight: 200;
  font-size: 26px;
}

.Header__paragraph {
  text-align: center;
  font-size: 16px;
}

.Container__cards {
  max-width: 1025px;
  /* border: solid 2px blue; */
  padding: 2rem 0;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
}

.Card {
  max-width: 320px;
  min-height: 250px;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  color: var(--very-dark-blue);
  box-shadow: 1px 5px 20px 1px var(--grayish-blue);
  /* border: solid 1px red; */
}

.Card__title {
  font-size: 20px;
  margin: 20px 25px 0px 25px;
}

.Card__paragraph {
  font-size: 14px;
  margin: 10px 25px 25px 25px;
}

.Image__container {
  margin-top: 40px;
  padding-right: 25px ;
  display: flex;
  justify-content: flex-end;
}

.Supervisor::before {
  content: "";
  height: 5px;
  display: block;
  background: var(--Cyan);
}

.Builder::before {
  content: "";
  height: 5px;
  display: block;
  background: var(--Red);
}

.Karma::before {
  content: "";
  height: 5px;
  display: block;
  background: var(--Orange);
}

.Calculator::before {
  content: "";
  height: 5px;
  display: block;
  background: var(--Blue);
}

@media screen and (min-width: 768px){
  .Container__cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 
          "Supervisor Builder"
          "Karma Calculator";
      grid-gap: 1rem;
  }
}

@media screen and (min-width: 1025px){
  .Container__cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas: 
          ". Builder ."
          "Supervisor Builder Calculator"
          "Supervisor Karma Calculator"
          ". Karma .";
      grid-gap: 1rem;
  }

  .Header {
    text-align: center;
      max-width: none;
      width: 30%;
      grid-area: Header;
  }

  .Supervisor {
      grid-area: Supervisor;
  }
  
  .Builder {
      grid-area: Builder;
  }
  
  .Karma {
      grid-area: Karma;
  }
  
  .Calculator {
      grid-area: Calculator;
  }
}